- @active = "about"
.container
  %h1 About Smilingly
  %p So what are we all about here at Smilingly? Well it's simple: We want to have fun dating.

  %h1 Advertise on Smilingly
  %p Want to advertise on this website? Sure thing, get in touch with us at...
